.globo {
  position: relative;
  background-color: #1b2842;
  border-radius: 18px;
  padding: 20px 30px;
  font-size: x-large;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  color: antiquewhite;
}

.globo::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: #1b2842;
  border-top: 0;
  margin-left: -15px;
  margin-top: -12px;
}

@media (max-width: 500px) {
  .globo {
    font-size: large;
    padding: 20px;
  }
}
