.footer {
  backdrop-filter: blur(7px) saturate(180%);
  background-color: #1b2842;
  padding: 20px;
  border-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: antiquewhite;
  animation: fadeInBottom 1s ease;
}

.icon {
  fill: antiquewhite;
}

.iconContainer {
  display: flex;
  align-items: center;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
