.inputContainer {
  width: 100%;
  padding-bottom: 10px;
  max-width: 70%;
}

.input {
  height: 50px;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 2px;
  padding: 0.75rem;
  color: #1a202c;
  font-size: 16px;
  outline-color: none;
  border-color: #1b2842;
  border-style: solid;
}

.input::placeholder {
  color: #a0aec0;
}

.input:focus {
  outline: none;
  border-color: #a0aec0;
}
